/* FormStyles.css */
/* Sign Up */
.signContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.formContainer {
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.formTitle {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.Buttons{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.submitBtn {
    margin-top: 1.5rem;
    padding: 10px;
    background-color: #08251b;

    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.submitBtn:hover {
    background-color: #09500f;

}
.loginButton{
    margin-top: 1.5rem;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    /* border: none; */
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s,color 0.3s ease-in-out;
}
.loginButton:hover{
 color: white;
}


/* Login */
.LoginContainer {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 50%;
    margin:  0 auto;
    
}
.LoginContainer h2 {
    margin-bottom: 1rem;
    color: #333;
}
.inputGroup, .input-group {
    margin-bottom: 1rem;
    text-align: left;
}
.inputGroup label, .input-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.inputGroup input, .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.loginBtn, .login-btn {
    width: 200px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}
.loginBtn:hover, .login-btn:hover {
    background-color: #144a08;
}