/* FormStyles.css */

.signContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.formContainer {
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.formTitle {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.submitBtn {
    margin-top: 1.5rem;
    padding: 10px;
    background-color: #08251b;

    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.submitBtn:hover {
    background-color: #09500f;

}
